@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-blue-100: #609ED4;
    --dark-blue-300: #0A3871;
    --light-blue-100: #F3F5FC;
    --white: #FFF;
    --white-gray: #6c8bb2;
    --gray-400: #72777c;
    --gray-500: #868E96;

    --inter: "Inter", sans-serif;
    --popins : "Poppins", sans-serif;
}

body{
    background-color: var(--dark-blue-100);
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.caja_principal{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
}

.caja_titulo{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em;
}

.caja_titulo>h1{
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    color: var(--dark-blue-300);
    font-family: var(--popins);
}
button{
    cursor: pointer;
}
.seccion_encriptar{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caja_texto>textarea{
    padding: 1em;
    width: 100%;
    height: 13em;
    background-color: transparent;
    border: 2px solid var(--dark-blue-300);
    border-radius: 24px;
    color: var(--dark-blue-300);
    font-size: 32px;
}

.caja_texto>textarea::placeholder {
    color: var(--dark-blue-300);
    font-size: 32px;
}

.info{
    color: var(--gray-400);
    font-size: 16px;
    font-family: var(--inter);
}
.botones{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.boton_encriptar{
    background-color: var(--dark-blue-300);
    width: 20.5em;
    height: 4.2em;
    border-radius: 24px;
    border: none;
    color: var(--white);
    font-size: 16px;
    border: 2px solid var(--dark-blue-300);
}

.boton_encriptar:hover{
    background-color: var(--light-blue-100);
    color: var(--dark-blue-300);
}

.boton_desencriptar{
    background-color: transparent;
    width: 20.5em;
    height: 4.2em;
    border-radius: 24px;
    border: 2px solid var(--dark-blue-300);
    color: var(--dark-blue-300);
    font-size: 16px;
}

.boton_desencriptar:hover{
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100);
}

.seccion_encriptado{
    width: 30%;
    padding: 1em 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.img-busqueda{
    width: 80%;
}

.info-h1{
    font-size: 24px;
    color: var(--gray-500);
    font-weight: bold;
}

.info-p{
    font-size: 16px;
    color: var(--gray-400);
}

.boton_copiar{
    background-color: transparent;
    width: 20.5em;
    height: 4.2em;
    border-radius: 24px;
    border: 2px solid var(--dark-blue-300);
    color: var(--dark-blue-300);
    font-size: 16px;
}

.parrafo_texto_resultado{
    color: var(--dark-blue-300);
    font-size: 32px;
}

.boton_copiar:hover{
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100);
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100);
    font-size: 24px;
    font-family: var(--popins);
    padding: 0px;
}

@media (max-width: 767px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between ;

    }
    .caja_titulo>h1{
        font-size: 30px;
    }

    .caja_principal{
        flex-direction: column;
        padding: 0 10%;
    }
    .seccion_encriptar{
        width: 100%;
        box-sizing: border-box;
    }

    .caja_texto>textarea{
        width: 80%;
        height: 5em;
    }

    .caja_texto>textarea{
        font-size: 20px;
    }
    .caja_texto>textarea::placeholder {
        color: var(--dark-blue-300);
        font-size: 20px;
    }

    .boton_encriptar, .boton_desencriptar{
        width: 13.5em;
        height: 3.2em;
    }

    .seccion_encriptado{
        width: 100%;
        margin-top: 5em;
    }
    .img-busqueda{
        width: 30%;
    }

    .boton_copiar{
        width: 13.5em;
        height: 3.2em;
    }

    .info-h1{
        font-size: 18px;
    }
    
    .info-p{
        font-size: 12px;
    }

    footer{
        margin-top: 5em;
        font-size: 14px;
    }
}